﻿
html, body, div, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700&subset=latin,latin-ext);

body {
    line-height: 1;
    font-size: 14px !important;
    background-color: #fff;
    font-family: 'Roboto', sans-serif !important;
    color: #414141;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}

a {
    color: #e33b31 !important;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.font-15 {
    font-size: 15px !important;
}

.font-13 {
    font-size: 13pt;
}

.font-12 {
    font-size: 12px;
}

.font-8 {
    font-size: 8pt;
}

.text-left {
    text-align: left;
}

.text-just {
    text-align: justify;
}

.italic-title {
    font-style: italic;
}

.font-normal {
    font-weight: normal;
}


blockquote {
    quotes: none;
}

    blockquote:before, blockquote:after {
        content: '';
        content: none;
    }

del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */ table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}


.text-under {
    text-decoration: underline;
}
/*Margin&Padding&Height&W*/
.margin-fx {
    margin-top: 70px;
    margin-left: 10px;
}

.margin-t0 {
    margin-top: 0px;
}

.margin-l0 {
    margin-left: 0px;
}

.margin-t5 {
    margin-top: 5px;
}

.margin-t10 {
    margin-top: 10px;
}

.margin-t15 {
    margin-top: 15px;
}

.margin-t20 {
    margin-top: 20px;
}

.margin-t25 {
    margin-top: 25px;
}

.margin-t30 {
    margin-top: 30px;
}

.margin-t50 {
    margin-top: 50px;
}

.margin-b40 {
    margin-bottom: 40px;
}

.margin-b10 {
    margin-bottom: 10px;
}

.margin-b5 {
    margin-bottom: 5px;
}

.margin-b15 {
    margin-bottom: 15px;
}

.margin-b25 {
    margin-bottom: 25px;
}

.margin-b20 {
    margin-bottom: 20px;
}

.margin-b30 {
    margin-bottom: 30px;
}

.margin-b50 {
    margin-bottom: 50px;
}

.margin-b100 {
    margin-bottom: 100px;
}

.margin-t40 {
    margin-top: 40px;
}

.margin-l10 {
    margin-left: 10px;
}

.margin-l15 {
    margin-left: 15px;
}

.margin-r5 {
    margin-right: 5px;
}

.margin-r15 {
    margin-right: 15px;
}

.margin-r10 {
    margin-right: 10px;
}

.margin-l35 {
    margin-left: 35px;
}

.margin-l50 {
    margin-left: 50px;
}

.nomargin {
    margin: 0px !important;
}

.nopadding {
    padding: 0px !important;
}

.nomargint {
    margin-top: 0px;
}

.padding-b40 {
    margin-bottom: 40px;
}

.padding-t5 {
    padding-top: 5px;
}

.padding-t10 {
    padding-top: 10px;
}

.padding-t15 {
    padding-top: 15px;
}

.padding-t20 {
    padding-top: 20px;
}

.padding-b25 {
    padding-bottom: 25px;
}

.padding-b15 {
    padding-bottom: 15px;
}

.padding-b10 {
    padding-bottom: 10px;
}

.padding-r5 {
    padding-right: 5px;
}

.padding-l5 {
    padding-left: 5px !important;
}

.padding-l15 {
    padding-left: 15px !important;
}

.padding-l25 {
    padding-left: 25px !important;
}

.min-height210 {
    min-height: 210px !important;
}

.width200 {
    width: 200px !important;
}

.width100 {
    width: 100px;
}
/**/

.tp_vc_mw_rowwrapper {
    padding: 0px 40px;
}

.tp_vc_mw_rowwrapper {
    position: relative;
}

.bgcolor1 {
    background: #fff;
}

.bgcolor2 {
    background: #3e4545;
}

.color1 {
    color: #fff !important;
}

.color2 {
    color: #ef3e35;
}

.color3 {
    color: #e33b31 !important;
}

.color4 {
    color: #000 !important;
}

.text-indent {
    text-indent: 5px;
}
/*Header*/

.header.shrink {
    height: 80px;
    line-height: 35px;
}

.header {
    font-size: 30px;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: fixed;
    z-index: 999;
    min-width: 100%;
    left: 0px;
}

    .header .logo {
        line-height: 100px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

        .header .logo img {
            padding: 0em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

    .header.shrink .logo {
        margin-top: -10px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

        .header.shrink .logo img {
            padding: 0.5em;
            width: 100%;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

    .header .switch {
        margin-top: 20px;
        margin-bottom: 15px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .header.shrink .switch {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .header #cssmenu, .header switch, .header .logo {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .header.shrink #cssmenu {
        margin-top: -10px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        float: left;
    }

        .header.shrink #cssmenu li a {
            line-height: 32px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .header.shrink #cssmenu li ul {
            top: 35px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
/*MENU*/

#cssmenu {
    font-size: 12px;
    z-index: 99999;
    margin-top: 13px;
}

    #cssmenu ul {
        z-index: 99999;
    }

    #cssmenu li {
        float: left;
        z-index: 99999;
        height: 45px;
        display: inline-block;
        position: relative;
    }

    #cssmenu > ul > li > a .current {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: auto;
        background: #E94740;
    }

        #cssmenu > ul > li > a .current:hover {
            width: 100%;
            background: #E94740;
        }

    #cssmenu li a:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
        top: 0px;
        position: relative;
    }

    #cssmenu li a:hover:after {
        width: 100%;
        background: #E94740;
    }

    #cssmenu ul ul li a:hover:after {
        background-color: transparent;
    }
    /**/

    #cssmenu li a {
        display: block;
        font-weight: normal;
        line-height: 42px;
        float: left;
        padding: 0px 20px;
        text-align: center;
        text-decoration: none;
        color: #414141;
    }

    #cssmenu > ul > li > a {
        color: #414141;
        font-size: 13px;
    }

        #cssmenu > ul > li > a span {
            color: #414141;
        }

    #cssmenu ul ul a {
        color: #414141;
    }

        #cssmenu ul ul a span {
            color: #414141;
        }

    #cssmenu li > a:hover, #cssmenu ul li:hover > a {
        text-decoration: none;
    }

    #cssmenu li ul {
        background: #fff;
        display: none;
        height: auto;
        padding: 0px;
        margin: 0px;
        border: 0px;
        position: absolute;
        z-index: 200;
        top: 45px;
        left: 19px;
    }

    #cssmenu li:hover ul {
        display: block;
    }

    #cssmenu li li {
        display: block;
        float: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    #cssmenu li:hover li a {
        background: none;
    }

    #cssmenu li ul a {
        display: block;
        height: 35px;
        font-size: 12px;
        font-style: normal;
        margin: 0px;
        text-align: left;
    }

        #cssmenu li ul a:hover, #cssmenu li ul li:hover > a {
            border: 0px;
            color: #414141;
            text-decoration: none;
        }

    #cssmenu p {
        clear: left;
    }

    #cssmenu ul ul li {
        position: relative;
        border-bottom: 2px solid #cacaca;
    }

        #cssmenu ul ul li a {
            font-size: 13px;
        }

            #cssmenu ul ul li a:hover {
                color: #E94740;
            }

    #cssmenu ul ul ul {
        left: -9999px;
        top: 0;
    }

    #cssmenu ul ul li:hover > ul {
        left: 100%;
    }

    #cssmenu.align-center > ul > li {
        display: inline-block;
        float: none;
    }

    #cssmenu.align-center > ul {
        text-align: center;
    }

    #cssmenu > ul > li {
        position: relative;
    }

    #cssmenu.align-right > ul > li {
        float: right;
    }

        #cssmenu.align-right > ul > li:hover > ul {
            right: 0;
            left: auto;
            text-align: right;
        }

    #cssmenu.align-right ul ul li a {
        text-align: right;
    }

    #cssmenu.align-right ul ul li:hover > ul {
        left: auto;
        right: 100%;
    }

.border-img1 {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-bottom: 20px;
    background: #e33b30;
    cursor: pointer;
}

    .border-img1 p {
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        padding: 0px;
        padding-left: 20px;
        line-height: 1em;
        text-align: left;
    }

    .border-img1 a:hover {
        text-decoration: none;
    }

.border-none {
    border: none !important;
}

.input-group-addon {
    background-color: #fff !important;
    border: none !important;
    padding-right: 0px !important;
}

.addon1 {
    position: absolute;
    top: 0;
    right: 22px;
}

.button1 {
    border: 0px;
    background: #e33b30;
    outline: none;
    display: inline-block;
    padding: 9px;
    width: 40px;
    border-radius: 0px 50px 50px 0px;
}

    .button1:focus {
        border: 0px;
        outline: none;
    }

.glyphicon-chevron-left:before {
    display: none;
}

.glyphicon-chevron-right:before {
    display: none;
}

.select {
    position: absolute;
    right: -2px;
    z-index: 90;
    cursor: pointer;
    top: 0px;
    line-height: 27px;
    border-left: 3px solid #ccc;
    padding-left: 5px;
}

    .select .btn {
        border: none;
        background-color: transparent !important;
        outline: none;
    }

    .select .dropdown-menu > li > a {
            padding: 3px 0px;
    }

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.select .btn:hover, .select .btn:focus {
    border: none;
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none;
}

.select .btn-group.open .dropdown-toggle {
    border: none;
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none;
}

.select ul:last-child li:last-child, .select ul li:first-child {
    display: none;
}

.select .multiselect-container, .select ul li a, .select ul li a:hover {
    margin-top: 5px;
    color: #353535 !important;
    border-radius: 0px;
    left: -6px;
    outline: none !important;
}

.select .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: transparent !important;
    outline: none !important;
}

.fa-angle-left, .fa-angle-right {
    background: rgba(255,255,255, 0.8);
    color: #000;
    width: 50px;
    text-align: center;
    line-height: 50px !important;
    border-radius: 50%;
    height: 50px;
}

.select select {
    cursor: pointer;
    padding: 5px;
}

    .select select:focus {
        outline: 0px;
        height: 45px;
    }

.border-radius1 {
    border-radius: 50px 0px 0px 50px !important;
}

.border-radius2 {
    border-radius: 0px 20px 20px 0px !important;
}

h3.title {
    font-weight: 300;
}

    h3.title span {
        color: #e33b30;
        font-weight: 700;
    }

    h3.title:after {
        display: inherit;
        content: '';
        width: 45px;
        margin-top: 8px;
        height: 3px;
        background: #e33b30;
    }

h3.title2 {
    font-weight: 300;
}

    h3.title2 span {
        color: #e33b30;
        font-weight: 700;
    }

    h3.title2:before {
        position: absolute;
        content: '';
        top: 50px;
        width: 127px;
        height: 3px;
        background: #e33b30;
    }

h3.title3 {
    font-weight: 300;
}

    h3.title3 span {
        color: #e33b30;
        font-weight: 700;
    }

    h3.title3:before {
        position: absolute;
        content: '';
        top: 50px;
        width: 78px;
        margin-left: 32px;
        height: 3px;
        background: #e33b30;
    }

h3.title4 {
    font-weight: 300;
}

    h3.title4 span {
        color: #e33b30;
        font-weight: 700;
    }

    h3.title4:before {
        position: absolute;
        content: '';
        top: 50px;
        width: 78px;
        margin-left: 0px;
        height: 3px;
        background: #414141;
    }

.carousel-indicators .active {
    background-color: #e33b30 !important;
    border: 1px solid #fff !important;
}

.carousel-indicators li {
    border: 1px solid #000 !important;
}

.demo-video-wrapper {
    background-image: url(https://d3k5xyayaartr5.cloudfront.net/_assets/home-video/beach-waves-loop.jpg);
}
/* Video overlay and content */ .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none; /* Allows right click menu on the video */
    background: url("https://d3k5xyayaartr5.cloudfront.net/_assets/pattern-overlays/patterns/black-medium-checks.png") left top repeat;
    opacity: 0.3;
}

.video-hero--content {
    position: relative;
    text-align: center;
    color: #FFF;
    margin: 150px 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

    .video-hero--content h2 {
        font-size: 34px;
        margin: 0 0 10px;
    }

    .video-hero--content p {
        font-size: 20px;
        margin: 0;
    }

a {
    text-decoration: none;
    color: #a46497;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.page-width {
    width: 92%;
    max-width: 960px;
    margin: 0 auto;
}

#header {
    background: #2c2d33;
    padding: 2em 0;
}

    #header a {
        color: #FFF;
    }

.title {
    display: block;
    font-weight: bold;
    font-size: 22px;
}

.subtitle {
    display: block;
    font-weight: normal;
    font-size: 15px;
    color: #959699;
}

a:hover .subtitle {
    color: #FFF;
}

#site-title {
    float: left;
    margin: 0;
}

#content {
    padding: 40px 0;
}
/* CSS from jQuery Background Video plugin */ /** * Set default positioning as a fallback for if the plugin fails */

.jquery-background-video-wrapper {
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jquery-background-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/** * Fade in videos * Note the .js class - so non js users still * see the video */ .js .jquery-background-video {
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

    .js .jquery-background-video.is-visible {
        opacity: 1;
    }
/** * Pause/play button */ .jquery-background-video-pauseplay {
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;
    padding: 0;
    cursor: pointer;
    outline: none !important;
    margin-top: 35px;
    border-radius: 50%;
    background: rgba(78, 78, 78, 0.8);
}

    .jquery-background-video-pauseplay span {
        display: none;
    }

    .jquery-background-video-pauseplay:after, .jquery-background-video-pauseplay:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    .jquery-background-video-pauseplay.play:before {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 16px solid #FFF;
        left: 20px;
        top: 10px;
    }

    .jquery-background-video-pauseplay.pause:before, .jquery-background-video-pauseplay.pause:after {
        border-top: 11px solid #FFF;
        border-bottom: 11px solid #FFF;
        border-left: 7px solid #FFF;
        left: 20px;
        top: 14px;
        margin-left: 6px;
    }

    .jquery-background-video-pauseplay.pause:after {
        left: 10px;
    }
/**/ .input1 {
    background: #f7f7f7 !important;
    border-top-right-radius: 2em !important;
    border-bottom-right-radius: 2em !important;
    border-top-left-radius: 2em !important;
    border-bottom-left-radius: 2em !important;
    border: 1px solid #414141 !important;
}

.btn1 {
    background: #e33b30;
    color: #fff;
    border-top-right-radius: 2em !important;
    border-bottom-right-radius: 2em !important;
    border-top-left-radius: 2em !important;
    border-bottom-left-radius: 2em !important;
}

    .btn1 i {
        color: #fff;
        padding-left: 10px;
    }

    .btn1:hover, .btn1:focus, .btn1:active {
        color: #fff !important;
        outline: 0px !important;
    }

.btn2 {
    background: #3E4545;
    color: #fff;
    border-top-right-radius: 2em !important;
    border-bottom-right-radius: 2em !important;
    border-top-left-radius: 2em !important;
    border-bottom-left-radius: 2em !important;
}

    .btn2 i {
        color: #fff;
        padding-left: 10px;
    }

    .btn2:hover, .btn2:focus, .btn2:active {
        color: #fff !important;
        outline: 0px !important;
    }

.social {
    padding-top: 35px;
}

    .social a {
        margin-right: 45px;
    }

        .social a i {
            color: #fff;
            font-size: 30px;
        }

            .social a i:hover {
                color: #AFAFAF;
            }

        .social a:hover {
            text-decoration: none;
        }

ul.menu-foo {
    padding-top: 20px;
    padding-left: 55px;
    padding-bottom: 132px;
}

    ul.menu-foo li a {
        color: #414141 !important;
    }

        ul.menu-foo li a:hover {
            text-decoration: none;
        }

    ul.menu-foo li {
        float: left;
        width: 100%;
    }

ul.menu-foo-1 {
    padding-top: 20px;
    padding-left: 25px;
}

    ul.menu-foo-1 li a {
        color: #414141;
    }

        ul.menu-foo-1 li a:hover {
            text-decoration: none;
        }



.form-control:focus {
    border-color: #e33b30 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.line1:after {
    position: absolute;
    content: '';
    top: 5px;
    width: 1px;
    height: 100%;
    background: #e3e3e3;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    float: right;
    background-color: white;
    border-radius: 18px;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    margin-right: 20px;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: inherit;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}

    .switch-label:before, .switch-label:after {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
    }

    .switch-label:before {
        content: attr(data-off);
        right: 11px;
        color: #9c9c9c;
    }

    .switch-label:after {
        content: attr(data-on);
        left: 11px;
        color: #414141;
        text-shadow: 0 1px rgba(0, 0, 0, 0.2);
        opacity: 0;
    }

.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 0px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

    .switch-handle:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
        width: 12px;
        height: 12px;
        background: #f9f9f9;
        border-radius: 6px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
        background-image: -webkit-linear-gradient(top, #E94740, #E94740);
        background-image: -moz-linear-gradient(top, #E94740, #E94740);
        background-image: -o-linear-gradient(top, #E94740, #E94740);
        background-image: linear-gradient(to bottom, #E94740, #E94740);
    }

.switch-input:checked ~ .switch-handle {
    left: 40px;
}

.switch-green > .switch-input:checked ~ .switch-label {
    background: #4fb845;
}

.ulMenu li {
    margin-bottom: 25px;
}

    .ulMenu li b {
        margin-right: 20px;
    }

.form-control2 {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: none !important;
    color: #474747 !important;
    padding-left: 1px !important;
}

    .form-control2 input {
        border-radius: 0px !important;
    }

.select1 {
    width: 100%;
    outline: none;
}

a.submit:hover, a.submit:active, a.submit:focus {
    text-decoration: none;
}

a.submit {
    border: 2px solid #e94740;
    padding: 10px;
    font-size: 15px;
    margin-right: 20px;
    color: #464646;
    -webkit-transition: border-color 0.5s ease;
    -moz-transition: border-color 0.5s ease;
    -o-transition: border-color 0.5s ease;
    -ms-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}

    a.submit i {
        font-size: 15px;
        margin-left: 45px;
        color: #e94740;
    }

    a.submit:hover {
        color: #e94740;
        border: 2px solid #000;
    }

.input-group-addon:first-child {
    text-shadow: none;
    font-size: 14px;
}

.collapse-title a:focus, .collapse-title a:hover {
    text-decoration: none;
}

.panel-default {
    border-color: #ECECEC;
}

.height45 {
    height: 45px !important;
}

.min-height180 {
    min-height: 180px;
}

.panel-default > .panel-heading {
    background-color: #FDFDFD !important;
}

.panel-heading {
    padding: 8px 11px !important;
}

.panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
    font-size: 14px !important;
    font-weight: normal;
}



.foot-background {
    background: #3e4545;
    background: #3e4545;
    height: 100px;
    min-height: 100%;
    max-height: 100%;
}

.area {
    width: 70%;
    border: 3px solid #e33b30;
    padding: 10px;
}

h3.area {
    color: #e33b30;
}

    h3.area span {
        color: #414141;
    }

    h3.area i {
        color: #e33b30;
        font-size: 26px;
        width: 36px;
        border: 2px solid #e33b30;
        border-radius: 50%;
        height: 36px;
        line-height: 33px;
        margin-right: 5px;
    }

.area1 {
    width: 70%;
    border: 3px solid #629627;
    padding: 10px;
}

h3.area1 {
    color: #629627;
}

    h3.area1 span {
        color: #414141;
    }

    h3.area1 i {
        color: #629627;
        font-size: 26px;
        width: 36px;
        border: 2px solid #629627;
        border-radius: 50%;
        height: 36px;
        line-height: 33px;
        margin-right: 5px;
    }

#sticky {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

    #sticky.stick {
        position: fixed !important;
        top: 80px !important;
        z-index: 2;
        width: 100%;
        max-width: 100%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        background: #3e4545;
    }

        #sticky.stick .input-group-s {
            margin: 20px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

.field_with_errors {
    display: inline-block;
    color: #e33b30;
    position: relative;
    width: 100%;
}

    .field_with_errors input, .field_with_errors textarea {
        text-indent: 20px;
    }

        .field_with_errors input + span:after {
            content: "*";
            position: absolute;
            top: 12px;
            left: 0px;
        }

        .field_with_errors textarea + span:after {
            content: "*";
            position: absolute;
            top: 12px;
            left: 0px;
        }

    .field_with_errors ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        text-indent: 10px;
    }

    .field_with_errors ::-moz-placeholder { /* Firefox 19+ */
        text-indent: 20px;
    }

    .field_with_errors :-ms-input-placeholder { /* IE 10+ */
        text-indent: 20px;
    }

    .field_with_errors :-moz-placeholder { /* Firefox 18- */
        text-indent: 20px;
    }

#modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}

.modalconent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 25%;
    padding: 20px;
}

.video-hero--content {
    height: 480px;
}

.mt100-slider {
    margin-top: 100px;
    z-index: 400;
}

.font-fx {
    font-size: 50px;
    font-weight: 100;
}

.top1 {
    top: 40%;
}

/*mobil menu*/
.burger__menu div {
    padding-left: 25px;
}

.mobil-search {
    background: #3E4545;
    padding-bottom: 20px;
    padding-top: 1px;
    margin-top: 5px;
}

@media (max-width:768px) {
    h3.title3:before {
        top: 35px;
    }

    .video-hero--content {
        height: 150px;
    }

    .mt100-slider {
        margin-top: 0px;
        z-index: 400;
    }

    ul.menu-foo {
        padding-left: 0px;
        padding-bottom: 0px;
    }

    ul.menu-foo-1 {
        padding-left: 0px;
    }

    .carousel-caption .font-fx {
        font-size: 26px;
    }

    .top1 {
        top: 10%;
    }


    .margin-fx {
        margin-top: 40px;
        display: inline-flex;
    }
}

body.open {
    overflow: hidden;
}

    body.open:before {
        visibility: visible;
        opacity: 1;
    }

body:before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.93);
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 500;
}

.burger {
    position: absolute;
    top: -60px;
    left: 20px;
    z-index: 600;
}

.burger__button {
    display: block;
    position: absolute;
    background: #E94740;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s ease;
    border: 2px solid transparent;
    box-shadow: 0px 0px 8px -2px #333333;
    z-index: 99999;
    right: -150px;
}

    .burger__button.open {
        border: 2px solid #ffffff;
        box-shadow: none;
        z-index: 99999;
    }

.burger__button__icon {
    display: inline-block;
    position: absolute;
    background: #fff;
    margin: 0 auto;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
    transform: translateY(-1px);
}

    .burger__button__icon:before,
    .burger__button__icon:after {
        content: "";
        position: absolute;
        margin: 0 auto;
        background: #fff;
        width: 20px;
        height: 2px;
        left: 0;
        right: 0;
        transition: all 0.5s ease;
    }

    .burger__button__icon:before {
        bottom: 10px;
    }

    .burger__button__icon:after {
        top: 10px;
    }

.burger__button.open .burger__button__icon {
    background: transparent;
}

    .burger__button.open .burger__button__icon:before,
    .burger__button.open .burger__button__icon:after {
        transform-origin: 0 50%;
        width: 28.28427125px;
    }

    .burger__button.open .burger__button__icon:before {
        transform: rotateZ(0.78539816rad);
    }

    .burger__button.open .burger__button__icon:after {
        transform: rotateZ(-0.78539816rad);
    }

.burger__menu {
    list-style-type: none;
    padding: 10px 0 0 30px;
    display: inherit;
    margin-top: 130px;
    height: 100px;
}

    .burger__menu li {
        display: block;
        position: relative;
        margin: 15px 0;
        visibility: hidden;
        transition: all 0.5s ease;
        transform: translateX(-400px);
    }

    .burger__menu a {
        display: block;
        text-decoration: none;
        color: #FFF !important;
        font-size: 1.5rem;
        transition: all 0.4s ease;
        padding-left: 0;
    }

        .burger__menu a:hover {
            padding-left: 30px;
            border-left: 3px solid #fff;
        }

.burger__button.open + .burger__menu li {
    transform: translateX(0);
    visibility: visible;
}

.tab-pane {
    margin-top: 5px;
}

@media (min-width: 1200px) {
    .ch-lg-offset-2-1 {
        margin-left: 37.666667%;
    }
}

@media (min-width: 992px) {
    .ch-md-offset-2-1 {
        margin-left: 13.666667%;
    }

    .ch-md-offset-1-1 {
        margin-left: 1.333333%;
    }
}

.col-1 {
    background-color: #e33b31;
    padding-top: 35px;
    padding-bottom: 35px;
    display: table-cell;
    vertical-align: top;
}

.col-2 {
    background-color: #414141;
    padding-top: 35px;
    display: table-cell;
    vertical-align: top;
    padding-bottom: 35px;
}

.disp-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555 !important;
}

.nav-tabs {
    border-bottom: none !important;
    margin-bottom: 35px;
    background-color: #f8f7ee;
}


    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border: none !important;
        background-color: transparent !important;
    }

    .nav-tabs > li > a:hover {
        border-color: transparent !important;
    }

    .nav-tabs > li > a {
        color: #555 !important;
    }

    .nav-tabs > li {
        border-radius: 0px;
    }

        .nav-tabs > li.active {
            border-top: 3px solid #e33b30;
            background-color: #fff;
        }

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent !important;
}

.tab-content img {
    margin-top: 15px;
}
