﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "ApplicationForm";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@{
    var action = Request.QueryString["action"];

    if (action != "update" && action != "sort")
    {
        Session["ApplicationForm"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Başvuru Formları</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad Soyad</th>
                        <th>Firma</th>
                        <th>E-posta</th>
                        <th>Kayıt Operatörü</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var applicationform in Model.ApplicationForm)
                    {
                        <tr class="gradeU">
                            <td>
                                @applicationform.Id
                            </td>
                            <td>
                                <span>@applicationform.NameSurname</span>
                            </td>
                            <td>
                                <span>@applicationform.Company</span>
                            </td>
                            <td>
                                <span>@applicationform.Email</span>
                            </td>
                            <td>
                                <span>@applicationform.RegistrarName</span>
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@applicationform.Id" style="padding-left:10px"><img src="~/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@applicationform.Id)"><img src="~/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var applicationform = Model.ApplicationForm.Where(x => x.Id == Id).FirstOrDefault();
            if (applicationform != null)
            {
                <form id="usualValidate" class="mainForm" action="@Url.Content("~/Admin/ApplicationForm" )">
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Bilgiler</h5></div>
                            <div class="rowElem noborder">
                                <label>Ad Soyad:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@applicationform.NameSurname" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>E-posta:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@applicationform.Email" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Şirket Adı:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@applicationform.Company" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Şehir:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@applicationform.City" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Ülke:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@applicationform.Country" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>ICANN Akredite Kayıt Operatörü (Registrar) Adı:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@applicationform.RegistrarName" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Şirket Website Adresi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@applicationform.Website" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Notlar:</label>
                                <div class="formRight">
                                    <textarea>@applicationform.Notes</textarea><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Tarih:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@Convert.ToDateTime(applicationform.CreatedDate).ToString("dd.MM.yyyy - HH:mm")" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                                <div class="fix"></div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["ApplicationForm"] = Id;
                Response.Redirect("ApplicationForm");
            }
        }
    }
}