﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "ContactForm";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@{
    var action = Request.QueryString["action"];

    if (action != "update" && action != "sort")
    {
        Session["ContactForm"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">İletişim Formları</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad Soyad</th>
                        <th>Konu</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contactform in Model.ContactForm)
                    {
                        <tr class="gradeU">
                            <td>
                                @contactform.Id
                            </td>
                            <td>
                                <span>@(contactform.Name + " " + contactform.Surname)</span>
                            </td>
                            <td>
                                <span>@contactform.Subject</span>
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@contactform.Id" style="padding-left:10px"><img src="~/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@contactform.Id)"><img src="~/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var contactform = Model.ContactForm.Where(x => x.Id == Id).FirstOrDefault();
            if (contactform != null)
            {
                <form id="usualValidate" class="mainForm" action="@Url.Content("~/Admin/ContactForm" )">
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Bilgiler</h5></div>
                            <div class="rowElem noborder">
                                <label>Ad Soyad:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@(contactform.Name + " " + contactform.Surname)" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>E-posta:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@contactform.Email" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Telefon:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@contactform.Phone" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Konu:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@contactform.Subject" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Mesaj:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" value="@contactform.Message" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                                <div class="fix"></div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["ContactForm"] = Id;
                Response.Redirect("ContactForm");
            }
        }
    }
}