﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "FaqCategories";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="~/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="~/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update" && action != "sort")
    {
        Session["FaqCategories"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Sık Sorulan Sorular</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tanım</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var faqcategories in Model.AllFaqCategories.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        <tr class="gradeU">
                            <td>
                                @faqcategories.Id
                            </td>
                            <td>
                                <span>@faqcategories.Title</span>
                            </td>
                            <td>
                                @if (faqcategories.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="faqcategoriesIsActive" id="@faqcategories.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="faqcategoriesIsActive" id="@faqcategories.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@faqcategories.Id" style="padding-left:10px"><img src="~/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@faqcategories.Id)"><img src="~/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/FaqCategoriesSave" )" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["FaqCategories"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["FaqCategories"].ObjectConvertToInt()" />
                        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Tanım:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Title" id="Title" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "sort")
    {
        <div class="widget">
            <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
            <ul id="sortable">
                @foreach (var pageItem in Model.AllFaqCategories.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).OrderBy(x => x.Order))
                {
                    <li class="ui-state-default" id="@pageItem.Id"><img src="~/Liquid/Dark/images/icons/color/category.png" />@pageItem.Title</li>
                }
            </ul>
            <a href="#" class="btnIconLeftGreen" id="FaqCategoriesSaveSort"><span>KAYDET</span></a>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var faqcategories = Model.AllFaqCategories.Where(x => x.Id == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
            if (faqcategories != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/FaqCategoriesUpdate" )">
                    <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@faqcategories.Id" />
                            <div class="rowElem noborder">
                                <label>Tanım:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Title" value="@faqcategories.Title" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (faqcategories.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["FaqCategories"] = Id;
                Response.Redirect("FaqCategories?action=add");
            }
        }
    }
}