﻿@model DAL.AdminMainProgress
@using DAL

<!-- Top navigation bar -->
<div id="topNav">
    <div class="fixed">
        <div class="wrapper">
            <div class="welcome">
                <img src="~/Liquid/Dark/images/userPic.png" alt="" />
                <span>@Session["Name"] @Session["Surname"]</span>
            </div>
            <div class="userNav">
                <ul>
                    <li><a href="#" title="" id="logout"><img src="~/Liquid/Dark/images/icons/topnav/logout.png" alt="" /><span>ÇIKIŞ</span></a></li>
                </ul>
            </div>
            <div class="fix"></div>
        </div>
    </div>
</div>

<!-- Header -->
<div id="header" class="wrapper">
    <div class="logo"><center><a href="~/Admin/Index" title=""><img src="~/Liquid/Dark/images/logo.png" alt="" /></a></center></div>
    <div class="fix"></div>
</div>