﻿@model DAL.AdminMainProgress
@using DAL

@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="table">
    <div class="head"><h5 class="iFrames">Son 10 Sayfa</h5></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Başlık</th>
                <th>Üst Sayfa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pages in Model.AllPages.Take(10).OrderByDescending(x => x.Id))
            {
                var parentId = Model.AllPages.Where(x => x.Id == pages.ParentId).FirstOrDefault();
                <tr class="gradeU">
                    <td>
                        @pages.Id
                    </td>
                    <td>
                        <span>@pages.Title</span>
                    </td>
                    <td>
                        <span>@(parentId != null ? parentId.Title : string.Empty)</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>