﻿@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>.istanbul Yönetim Paneli</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css' />

    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/spinner/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/spinner/ui.spinner.js"></script>

    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/wysiwyg/jquery.wysiwyg.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/wysiwyg/wysiwyg.image.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/wysiwyg/wysiwyg.link.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/wysiwyg/wysiwyg.table.js"></script>

    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/flot/excanvas.min.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/flot/jquery.flot.resize.js"></script>

    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/tables/colResizable.min.js"></script>

    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/forms/forms.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/forms/autogrowtextarea.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/forms/autotab.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/forms/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/forms/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/forms/jquery.dualListBox.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/forms/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/forms/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/forms/jquery.inputlimiter.min.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/forms/jquery.tagsinput.min.js"></script>

    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/other/calendar.min.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/other/elfinder.min.js"></script>

    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/uploader/plupload.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/uploader/plupload.html5.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/uploader/plupload.html4.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/uploader/jquery.plupload.queue.js"></script>

    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.progress.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.tipsy.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.alerts.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.colorpicker.js"></script>

    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/wizards/jquery.form.wizard.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/wizards/jquery.validate.js"></script>

    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.breadcrumbs.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.ToTop.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.listnav.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.sourcerer.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/plugins/ui/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/Liquid/Dark/js/custom.js"></script>
    <script src="~/Scripts/common.js"></script>
    <link href="~/Liquid/Dark/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Liquid/Dark/css/custom.css" rel="stylesheet" />

</head>

<body>
    <div class="loginWrapper">
        <div class="loginLogo"><img src="~/Liquid/Dark/images/logo.png" alt="" /></div>
        <div class="loginPanel" style="overflow: hidden;">
            <div class="head"><h5 class="iUser">Giriş</h5></div>
            <form action="@Url.Content("~/Admin/Login")" id="valid" class="mainForm">
                <fieldset>
                    <div class="loginRow">
                        <label for="req1">Kullanıcı Adı:</label>
                        <div class="loginInput"><input autocomplete="off" type="text" name="login" class="validate[required]" id="req1" /></div>
                        <div class="fix"></div>
                    </div>
                    <div class="loginRow">
                        <label for="req2">Şifre:</label>
                        <div class="loginInput"><input autocomplete="off" type="password" name="password" class="validate[required]" id="req2" /></div>
                        <div class="fix"></div>
                    </div>
                    <div class="loginRow">
                        <input autocomplete="off" type="button" value="Giriş" class="basicBtn submitForm" id="login" />
                        <div class="fix"></div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <div id="footer">
        <div class="wrapper">
            <span>&copy; Copyright @DateTime.Now.Year by <a href="http://www.zoniletisim.com/" target="_blank" title="ZON İletişim">ZON</a></span>
        </div>
    </div>
</body>
</html>
