﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "MainPageItems";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (Session["AdminLanguage"] == null)
    {
        Session["AdminLanguage"] = 1;
    }

    var LanguageId = Session["AdminLanguage"].IllegalCharRemove().ObjectConvertToInt();

    if (LanguageId != 0 && LanguageId > 0)
    {
        var mainpageitems = Model.MainPageItems.Where(x => x.LanguageId == LanguageId).FirstOrDefault();
        if (mainpageitems == null)
        {
            <form id="usualValidate" class="mainForm" style="float:left;width:100%;" method="post" action="@Url.Content("~/Admin/MainPageItemsUpdate" )">
                <fieldset>
                    <div class="widget">
                        <div class="head"><h5 class="iLocked">Anasayfa Öğeleri</h5></div>
                        <input autocomplete="off" type="hidden" name="Id" value="@LanguageId" />
                        <div class="rowElem noborder">
                            <label>Üst Görsel:</label>
                            <div class="formRight">
                                <input autocomplete="off" id="TopImage" name="TopImage" type="text" size="60" maxlength="50" />
                                <div class="fix"><br /></div>
                                <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('TopImage');" class="btn55" />
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Üst İçerik:</label>
                            <div class="formRight"><textarea id="ckeditor" class="ckeditor" name="TopContent"></textarea></div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Kısa Video:</label>
                            <div class="formRight">
                                <input autocomplete="off" id="UploadedVideo" name="UploadedVideo" type="text" size="60" maxlength="50" />
                                <div class="fix"><br /></div>
                                <input autocomplete="off" type="button" value="Video Seç" onclick="BrowseServerImage('UploadedVideo');" class="btn55" />
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Video Embed Kodu:</label>
                            <div class="formRight">
                                <textarea name="EmbedVideo" rows="5"></textarea><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Alt Görsel:</label>
                            <div class="formRight">
                                <input autocomplete="off" id="BottomImage" name="BottomImage" type="text" size="60" maxlength="50" />
                                <div class="fix"><br /></div>
                                <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('BottomImage');" class="btn55" />
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Alt İçerik:</label>
                            <div class="formRight">
                                <textarea id="ckeditor" class="ckeditor" name="BottomContent"></textarea><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </div>
                </fieldset>
            </form>
        }
        else
        {
            <form id="usualValidate" class="mainForm" style="float:left;width:100%;" method="post" action="@Url.Content("~/Admin/MainPageItemsUpdate" )">
                <fieldset>
                    <div class="widget">
                        <div class="head"><h5 class="iLocked">Anasayfa Öğeleri</h5></div>
                        <input autocomplete="off" type="hidden" name="Id" value="@LanguageId" />
                        <div class="rowElem noborder">
                            <label>Üst Görsel:</label>
                            <div class="formRight">
                                <input autocomplete="off" id="TopImage" name="TopImage" type="text" size="60" maxlength="50" value="@mainpageitems.TopImage" />
                                <div class="fix"><br /></div>
                                <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('TopImage');" class="btn55" />
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Üst İçerik:</label>
                            <div class="formRight"><textarea id="ckeditor" class="ckeditor" name="TopContent">@mainpageitems.TopContent</textarea></div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Kısa Video:</label>
                            <div class="formRight">
                                <input autocomplete="off" id="UploadedVideo" name="UploadedVideo" type="text" size="60" maxlength="50" value="@mainpageitems.UploadedVideo" />
                                <div class="fix"><br /></div>
                                <input autocomplete="off" type="button" value="Video Seç" onclick="BrowseServerImage('UploadedVideo');" class="btn55" />
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Video Embed Kodu:</label>
                            <div class="formRight">
                                <textarea name="EmbedVideo" rows="5">@mainpageitems.EmbedVideo</textarea><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Alt Görsel:</label>
                            <div class="formRight">
                                <input autocomplete="off" id="BottomImage" name="BottomImage" type="text" size="60" maxlength="50" value="@mainpageitems.BottomImage" />
                                <div class="fix"><br /></div>
                                <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('BottomImage');" class="btn55" />
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Alt İçerik:</label>
                            <div class="formRight">
                                <textarea id="ckeditor" class="ckeditor" name="BottomContent">@mainpageitems.BottomContent</textarea><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </div>
                </fieldset>
            </form>
        }
    }
}