﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="~/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update")
    {
        Session["News"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Haberler</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tanım</th>
                        <th>Kısa Açıklama</th>
                        <th>Tarih</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var news in Model.AllNews.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        <tr class="gradeU">
                            <td>
                                @news.Id
                            </td>
                            <td>
                                <span>@news.Title</span>
                            </td>
                            <td>
                                <span>@news.ShortContent</span>
                            </td>
                            <td>
                                <span>@Convert.ToDateTime(news.Date).ToShortDateString()</span>
                            </td>
                            <td>
                                @if (news.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="newsIsActive" id="@news.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="newsIsActive" id="@news.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@news.DataId" style="padding-left:10px"><img src="~/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@news.Id)"><img src="~/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/NewsSave" )" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["News"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["News"].ObjectConvertToInt()" />
                        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        }

        if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
        {
            <div class="rowElem noborder">
                <label>Orijinal İçerik:</label>
                <div class="formRight selectDown">
                    <select id="DataId" name="DataId" class="required">
                        <option value="">- Seçiniz -</option>
                        @foreach (var item in Model.GetNews().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                        {
                            var isHave = Model.GetNews().Where(x => x.DataId == item.DataId && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).Count();
                            if (isHave == 0)
                            {
                                if (Session["News"] != null && item.DataId == int.Parse(Session["News"].ToString()))
                                {
                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
                        <div class="ChooseLang"></div>
        }
        else
        {
            <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="0" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Başlık:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Title" id="Title" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Kısa Açıklama:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="ShortContent" id="ShortContent" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>İçerik:</label>
                        <div class="formRight"><textarea id="ckeditor" class="ckeditor" name="Content"></textarea></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Görsel:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Tarih:</label>
                        <div class="formRight"><input autocomplete="off" type="date" class="required" name="Date" id="Date" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Friendly Url:</label>
                        <div class="formRight"><input autocomplete="off" type="text" placeholder="Boş bırakırsanız, haber başlığı baz alınacaktır." name="FriendlyUrl" id="FriendlyUrl" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Keywords:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Keywords" id="Keywords" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Description:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Description" id="Description" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var news = Model.AllNews.Where(x => x.DataId == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
            if (news != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/NewsUpdate" )">
                    <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@news.DataId" />
                            @if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
                            {
                                <div class="rowElem noborder">
                                    <label>Orijinal İçerik:</label>
                                    <div class="formRight selectDown">
                                        <select id="DataId" name="DataId" class="required">
                                            <option value="">- Seçiniz -</option>
                                            @foreach (var item in Model.GetNews().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                                            {
                                                if (item.DataId == news.DataId)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ChooseLang"></div>
                            }
                            else
                            {
                                <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="@news.DataId" />
                            }
                            <div class="rowElem noborder">
                                <label>Başlık:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Title" value="@news.Title" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Kısa Açıklama:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="ShortContent" value="@news.ShortContent" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>İçerik:</label>
                                <div class="formRight">
                                    <textarea id="ckeditor" class="ckeditor" name="Content">@news.Content</textarea><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Görsel:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" value="@news.Image" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Tarih:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="date" class="required" name="Date" value="@Convert.ToDateTime(news.Date).ToString("yyyy-MM-dd")" /><d /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Friendly Url:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" placeholder="Boş bırakırsanız, haber başlığı baz alınacaktır." name="FriendlyUrl" value="@news.FriendlyUrl" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Keywords:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Keywords" value="@news.Keywords" maxlength="150" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Description:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Description" value="@news.Description" maxlength="150" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (news.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["News"] = Id;
                Response.Redirect("News?action=add");
            }
        }
    }
}