﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Newsletter";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@{
    var action = Request.QueryString["action"];

    Session["Newsletter"] = null;
    <div class="table">
        <div class="head"><h5 class="iFrames">Bülten Üyelikleri</h5></div>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ad Soyad</th>
                    <th>E-posta</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var newsletter in Model.Newsletter)
                {
                    <tr class="gradeU">
                        <td>
                            @newsletter.Id
                        </td>
                        <td>
                            <span>@(newsletter.FirstName + " " + newsletter.LastName)</span>
                        </td>
                        <td>
                            <span>@newsletter.Email</span>
                        </td>
                        <td class="center">
                            <a href="#" style="padding-left:10px" onclick="DeleteData(@newsletter.Id)"><img src="~/Liquid/Dark/images/icons/dark/trash.png" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}