﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "PanelUsers";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="~/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>

@{
    var action = Request.QueryString["action"];
    if (action != "add" && action != "update" && action != "sort")
    {
        Session["PanelUsers"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Panel Kullanıcıları</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>E-posta</th>
                        <th>Ad Soyad</th>
                        <th>Rol</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var panelusers in Model.AllPanelUsers)
                    {
                        <tr class="gradeU">
                            <td>
                                @panelusers.Id
                            </td>
                            <td>
                                <span>@panelusers.Email</span>
                            </td>
                            <td>
                                <span>@panelusers.Name @panelusers.Surname</span>
                            </td>
                            <td>
                                <span>@panelusers.Role</span>
                            </td>
                            <td>
                                @if (panelusers.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="panelusersIsActive" id="@panelusers.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="panelusersIsActive" id="@panelusers.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@panelusers.Id" style="padding-left:10px"><img src="~/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                @if (panelusers.Id != int.Parse(Session["LoginId"].ToString()))
                                {
                                    <a href="#" style="padding-left:10px" onclick="DeleteData(@panelusers.Id)"><img src="~/Liquid/Dark/images/icons/dark/trash.png" /></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/PanelUsersSave" )" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["PanelUsers"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["PanelUsers"].ObjectConvertToInt()" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>E-posta:</label>
                        <div class="formRight"><input autocomplete="off" type="email" class="required" name="Email" id="Email" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Şifre:</label>
                        <div class="formRight"><input autocomplete="off" type="password" class="required" name="Password" id="Password" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Ad:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Name" id="Name" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Soyad:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Surname" id="Surname" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Rol:</label>
                        <div class="formRight"><input autocomplete="off" type="number" class="required" name="Role" id="Role" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var panelusers = Model.AllPanelUsers.Where(x => x.Id == Id).FirstOrDefault();
            if (panelusers != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/PanelUsersUpdate" )">
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@Id" />
                            <div class="rowElem noborder">
                                <label>E-posta:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="email" class="required" name="Email" value="@panelusers.Email" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Şifre:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="[Değiştirilemez]" readonly="readonly" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Ad:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Name" value="@panelusers.Name" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Soyad:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Surname" value="@panelusers.Surname" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Rol:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="number" class="required" name="Role" value="@panelusers.Role" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (panelusers.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            @if (panelusers.Id != int.Parse(Session["LoginId"].ToString()))
                            {
                                <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            }
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["PanelUsers"] = Id;
                Response.Redirect("PanelUsers?action=add");
            }
        }
    }
}