﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "RegistrarCompanies";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="~/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="~/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>

@{
    var action = Request.QueryString["action"];
    if (action != "add" && action != "update" && action != "sort")
    {
        Session[""] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Kayıt Operatörleri</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tanım</th>
                        <th>.ist</th>
                        <th>.istanbul</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var registrarcompanies in Model.AllRegistrarCompanies)
                    {
                        <tr class="gradeU">
                            <td>
                                @registrarcompanies.Id
                            </td>
                            <td>
                                <span>@registrarcompanies.Name</span>
                            </td>
                            <td>
                                <span>@(registrarcompanies.Ist == true ? "Evet" : string.Empty)</span>
                            </td>
                            <td>
                                <span>@(registrarcompanies.Istanbul == true ? "Evet" : string.Empty)</span>
                            </td>
                            <td>
                                @if (registrarcompanies.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="registrarcompaniesIsActive" id="@registrarcompanies.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="registrarcompaniesIsActive" id="@registrarcompanies.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@registrarcompanies.Id" style="padding-left:10px"><img src="~/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@registrarcompanies.Id)"><img src="~/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/RegistrarCompaniesSave" )" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["RegistrarCompanies"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["RegistrarCompanies"].ObjectConvertToInt()" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Tanım:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Name" id="Name" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Logo:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Logo" name="Logo" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Logo');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Ülke:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Country" id="Country" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>.ist Kaydı:</label>
                        <div class="formRight selectDown">
                            <select name="Ist" class="aktifPasif">
                                <option value="0">Evet</option>
                                <option value="1">Hayır</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>.istanbul Kaydı:</label>
                        <div class="formRight selectDown">
                            <select name="Istanbul" class="aktifPasif">
                                <option value="0">Evet</option>
                                <option value="1">Hayır</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Link:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Url" id="Url" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "sort")
    {
        <div class="widget">
            <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
            <ul id="sortable">
                @foreach (var pageItem in Model.AllRegistrarCompanies.OrderBy(x => x.Order))
                {
                    <li class="ui-state-default" id="@pageItem.Id"><img src="~/Liquid/Dark/images/icons/color/category.png" />@pageItem.Name</li>
                }
            </ul>
            <a href="#" class="btnIconLeftGreen" id="RegistrarCompaniesSaveSort"><span>KAYDET</span></a>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var registrarcompanies = Model.AllRegistrarCompanies.Where(x => x.Id == Id).FirstOrDefault();
            if (registrarcompanies != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/RegistrarCompaniesUpdate" )">
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@Id" />
                            <div class="rowElem noborder">
                                <label>Tanım:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Name" value="@registrarcompanies.Name" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Logo:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Logo" name="Logo" type="text" size="60" maxlength="50" value="@registrarcompanies.Logo" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Logo');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Ülke:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Country" value="@registrarcompanies.Country" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>.ist:</label>
                                <div class="formRight selectDown">
                                    <select name="Ist" class="aktifPasif">
                                        @if (registrarcompanies.Ist == true)
                                        {
                                            <option value="0" selected="selected">Evet</option>
                                            <option value="1">Hayır</option>
                                        }
                                        else
                                        {
                                            <option value="0">Evet</option>
                                            <option value="1" selected="selected">Hayır</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>.istanbul:</label>
                                <div class="formRight selectDown">
                                    <select name="Istanbul" class="aktifPasif">
                                        @if (registrarcompanies.Istanbul == true)
                                        {
                                            <option value="0" selected="selected">Evet</option>
                                            <option value="1">Hayır</option>
                                        }
                                        else
                                        {
                                            <option value="0">Evet</option>
                                            <option value="1" selected="selected">Hayır</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Link:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Url" value="@registrarcompanies.Url" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (registrarcompanies.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["RegistrarCompanies"] = Id;
                Response.Redirect("RegistrarCompanies?action=add");
            }
        }
    }
}