﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Slider";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="~/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="~/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update" && action != "sort")
    {
        Session["Slider"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Sayfalar</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Metin</th>
                        <th>Kısa Metin</th>
                        <th>Görsel</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var slider in Model.AllSliders.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        <tr class="gradeU">
                            <td>
                                @slider.Id
                            </td>
                            <td>
                                <span>@Html.Raw(slider.Text)</span>
                            </td>
                            <td>
                                <span>@Html.Raw(slider.ShortText)</span>
                            </td>
                            <td>
                                <img height="50" src="@(System.Configuration.ConfigurationManager.AppSettings["UploadUrl"] + slider.Image)" />
                            </td>
                            <td>
                                @if (slider.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="sliderIsActive" id="@slider.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="sliderIsActive" id="@slider.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@slider.Id" style="padding-left:10px"><img src="~/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@slider.Id)"><img src="~/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/SliderSave" )" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["Slider"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["Slider"].ObjectConvertToInt()" />
                        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Metin:</label>
                        <div class="formRight"><textarea id="ckeditor" class="ckeditor" name="Text"></textarea></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Kısa Metin:</label>
                        <div class="formRight"><textarea id="ckeditor" class="ckeditor" name="ShortText"></textarea></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Görsel:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Image" name="Image" class="required" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "sort")
    {
        <div class="widget">
            <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
            <ul id="sortable">
                @foreach (var pageItem in Model.AllSliders.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).OrderBy(x => x.Order))
                {
                    <li class="ui-state-default" id="@pageItem.Id"><img src="~/Liquid/Dark/images/icons/color/category.png" />@Html.Raw(pageItem.Text)</li>
                }
            </ul>
            <a href="#" class="btnIconLeftGreen" id="SliderSaveSort"><span>KAYDET</span></a>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var slider = Model.AllSliders.Where(x => x.Id == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
            if (slider != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/SliderUpdate" )">
                    <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@slider.Id" />
                            <div class="rowElem noborder">
                                <label>Metin:</label>
                                <div class="formRight">
                                    <textarea id="ckeditor" class="ckeditor" name="Text">@slider.Text</textarea><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Kısa Metin:</label>
                                <div class="formRight">
                                    <textarea id="ckeditor" class="ckeditor" name="ShortText">@slider.ShortText</textarea><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Görsel:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Image" name="Image" class="required" type="text" size="60" maxlength="50" value="@slider.Image" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (slider.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["Slider"] = Id;
                Response.Redirect("Slider?action=add");
            }
        }
    }
}
