﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Translates";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="~/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="~/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update")
    {
        Session["Translates"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Çeviriler</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tanım</th>
                        <th>Metin</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var translates in Model.AllTranslates.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        <tr class="gradeU">
                            <td>
                                @translates.Id
                            </td>
                            <td>
                                <span>@translates.Description</span>
                            </td>
                            <td>
                                <span>@Html.Raw(translates.Text)</span>
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@translates.DataId" style="padding-left:10px"><img src="~/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/TranslatesSave" )" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["Translates"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["Translates"].ObjectConvertToInt()" />
                        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        }

        if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
        {
            <div class="rowElem noborder">
                <label>Orijinal İçerik:</label>
                <div class="formRight selectDown">
                    <select id="DataId" name="DataId" class="required">
                        <option value="">- Seçiniz -</option>
                        @foreach (var item in Model.GetTranslates().Where(x => x.LanguageId == 1).OrderBy(x => x.Id))
                        {
                            var isHave = Model.GetTranslates().Where(x => x.DataId == item.DataId && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).Count();
                            if (isHave == 0)
                            {
                                if (Session["Translates"] != null && item.DataId == int.Parse(Session["Translates"].ToString()))
                                {
                                    <option value="@item.Id" selected="selected">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
                        <div class="ChooseLang"></div>
        }
        else
        {
            <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="0" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Tanım:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Description" id="Description" maxlength="100" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Metin:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Text" id="Text" /></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var translates = Model.AllTranslates.Where(x => x.DataId == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
            if (translates != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="@Url.Content("~/Admin/TranslatesUpdate" )">
                    <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@translates.DataId" />
                            @if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
                            {
                                <div class="rowElem noborder">
                                    <label>Orijinal İçerik:</label>
                                    <div class="formRight selectDown">
                                        <select id="DataId" name="DataId" class="required">
                                            <option value="">- Seçiniz -</option>
                                            @foreach (var item in Model.GetTranslates().Where(x => x.LanguageId == 1).OrderBy(x => x.Text))
                                            {
                                                if (item.DataId == translates.DataId)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Description</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Description</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ChooseLang"></div>
                            }
                            else
                            {
                                <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="@translates.DataId" />
                            }
                            <div class="rowElem noborder">
                                <label>Tanım:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Description" value="@translates.Description" maxlength="100" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Metin:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Text" value="@translates.Text" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["Translates"] = Id;
                Response.Redirect("Translates?action=add");
            }
        }
    }
}