﻿@model DAL.AdminMainProgress
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = Model.Pages;
}
@section MetaTags{
    <title>@("Istanbul - " + data.Title)</title>
    <meta name="keywords" content="@data.Keywords">
    <meta name="description" content="@data.Description">
}