﻿@model DAL.AdminMainProgress
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var FriendlyUrl = ViewContext.RouteData.Values["FriendlyUrl"];
    var AllTranslates = Model.AllTranslates;
    var dataCategoryList = Model.AllFaqCategories;
    var dataList = Model.AllFaq;
    var data = Model.Pages;
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-t50 margin-b50">
                <ul class="nav nav-tabs" role="tablist">
                    @{int o = 1;}
                    @foreach (var item1 in dataCategoryList)
                    {
                        <li class="@(o==1?"active":string.Empty)" role="presentation"><a aria-controls="@("tb"+o)" data-toggle="tab" href="@("#tb"+o)" role="tab">@item1.Title</a></li>
                        o++;
                    }
                </ul>
                @{int p = 1; int s = 1; int c = 1;}
                <div class="tab-content">
                    @foreach (var item2 in dataCategoryList)
                    {
                        c = 1;
                        <div class="@(p==1?"tab-pane margin-b20 active":"tab-pane margin-b20")" id="@("tb"+p)" role="@(p == 1 ? "tabpanel" : "tabpane" + p)">
                            <div class="col-md-12">
                                <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
                                    @foreach (var item3 in dataList.Where(x => x.ParentId == item2.Id))
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading" id="@("heading"+s)" role="tab">
                                                <h4 class="panel-title collapse-title"><a aria-controls="@("collapse"+s)" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="@("#collapse"+s)" role="button">@item3.Question</a></h4>
                                            </div>

                                            <div aria-labelledby="@("heading"+s)" class="panel-collapse collapse " id="@("collapse"+s)" role="@(p == 1 ? "tabpanel" : "tabpane" + p)">
                                                <div class="panel-body">@item3.Answer</div>
                                            </div>
                                        </div>
                                        s++;
                                        c++;
                                    }
                                </div>
                            </div>

                        </div>
                                    p++;
                    }
                </div>
            </div>
        </div>
    </div>
</section>