﻿@model DAL.AdminMainProgress
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AllTranslates = Model.AllTranslates;
    var FriendlyUrl = ViewContext.RouteData.Values["FriendlyUrl"];
}
@if (ViewContext.RouteData.Values["subFriendlyUrl"] == null)
{
    var dataList = Model.AllNews;
    <section class="margin-t25 margin-b30">
        <div class="container">
            <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title margin-b20">@AllTranslates.Where(x => x.DataId == 19).FirstOrDefault().Text</h3>
                            </div>
                            @*<div class="col-md-12">
                                    <p class="margin-b15 ">
                                        @AllTranslates.Where(x => x.DataId == 17).FirstOrDefault().Text
                                    </p>
                                </div>*@
                            <div class="col-md-12 margin-t30">
                                <ul class="ulMenu">
                                    @foreach (var item in dataList)
                                    {
                                        <li><b>@Convert.ToDateTime(item.Date).ToString("dd MMMM yyyy") </b><a href="@(FriendlyUrl + "/" + item.FriendlyUrl)">@item.Title</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    var dataSingle = Model.News;
    if (dataSingle != null)
    {
        @section MetaTags{
            <title>@("Istanbul - " + dataSingle.Title)</title>
            <meta name="keywords" content="@dataSingle.Keywords">
            <meta name="description" content="@dataSingle.Description">
        }
        <section class="margin-t50">
            <div class="container">
                <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row">
                                <!-- Title start -->
                                <div class="col-md-12">
                                    <h3 class="title margin-b20">@AllTranslates.Where(x => x.DataId == 19).FirstOrDefault().Text</h3>
                                </div>
                                <!-- Title end -->
                                <!-- Content start -->
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 margin-t20 margin-b20">
                                            <h3>
                                                <b>@dataSingle.Title</b>
                                            </h3>
                                        </div>
                                        <div class="col-md-12 margin-b30">
                                            <p class="margin-b15 font-15">
                                                <strong>
                                                    @dataSingle.ShortContent
                                                </strong>
                                            </p>
                                            @Html.Raw(dataSingle.Content)
                                        </div>
                                    </div>
                                </div>
                                <!-- Content end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}