﻿@model DAL.AdminMainProgress
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = Model.Pages;
}
@section MetaTags{
    <title>@("Istanbul - " + data.Title)</title>
    <meta name="keywords" content="@data.Keywords">
    <meta name="description" content="@data.Description">
}
<section class="margin-t25">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title margin-b20">@data.Title</h3>
            </div>
        </div>
    </div>
</section>
@Html.Raw(data.Content.Replace(System.Configuration.ConfigurationManager.AppSettings["VideoConvert"], System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + data.UploadedVideo))
@{
    if (data.Form != 0)
    {
        Html.RenderAction(Convert.ToString(DAL.Enums.FormViews[(int)data.Form]));
    }
}
<!-- Video Start -->
<section class="margin-t25">
    <div class="modal fade Video" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        @Html.Raw(data.EmbedVideo)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Video End -->