﻿<section class="hidden-sm hidden-xs">
    <div id="sticky-anchor"></div>
    <div style="position:absolute;top: 35%;width: 100%;padding-top: 10px;padding-bottom: 10px;" id="sticky">
        <div class="col-md-5 col-lg-6 col-md-offset-3 ">
            <form id="usualValidate" method="post" action="/WhoisQuery" enctype="multipart/form-data">
                <div class="input-group">
                    <span class="border-radius1 input-group-addon" id="basic-addon1">www.</span>
                    <input autocomplete="off" type="text" style="width:100%" class="form-control border-none padding-l5 border-radius2 height45" aria-describedby="basic-addon1" name="domain" placeholder="alan adı" required />
                    <div class="select">
                        <select class="border-none" id="example-getting-started5" multiple="multiple" name="type" title="Pick One" required>
                            <option value=".istanbul" selected>.istanbul</option>
                            <option value=".ist" selected>.ist</option>
                            <option value=""> </option>
                        </select>
                        <button type="submit" class="button1" aria-label="Help"><span class="fa fa-search"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@*Layout a ekledim scripti Selectbox kodu yukarıdaki gibi *@ 