﻿@{
    Layout = null;
}

<!-- Form Start -->
<form id="usualValidate" class="mainForm" method="post" action="/Home/_ApplicationForm" enctype="multipart/form-data">
    <fieldset>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 margin-t50 margin-b10 ">
                        <h3 class="title">Kayıt Operatörü Başvuru Formu</h3>
                    </div>
                    <div class="col-md-6">
                        <div class=" margin-b20 field_with_errors">
                            <input type="text" name="NameSurname" class="form-control form-control2" placeholder="Ad Soyad" required> <span></span>
                        </div>
                        <div class=" margin-b20 field_with_errors">
                            <input type="text" name="Company" class="form-control form-control2" placeholder="Şirket Adı" required> <span></span>
                        </div>
                        <div class="margin-b20 field_with_errors">
                            <input type="text" name="City" class="form-control form-control2" placeholder="Şehir"><span></span>
                        </div>
                        <div class="margin-b20 field_with_errors">
                            <input type="text" name="Website" class="form-control form-control2" placeholder="Şirket Website Adresi"><span></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="margin-b20 field_with_errors">
                            <input type="email" name="Email" class="form-control form-control2" placeholder="E-posta Adresi" required><span></span>
                        </div>
                        <div class="margin-b20 field_with_errors">
                            <input type="text" name="RegistrarName" class="form-control form-control2" placeholder="ICANN Akredite Kayıt Operatörü (Registrar) Adı" required><span></span>
                        </div>
                        <div class="margin-b20 field_with_errors">
                            <input type="text" name="Country" class="form-control form-control2" placeholder="Ülke" required><span></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="margin-b20 field_with_errors">
                            <input type="text" name="Notes" class="form-control form-control2" placeholder="Notlar" required><span></span>
                        </div>
                    </div>
                    <div class="col-md-3 margin-t50 margin-b50">
                        <button type="submit" class="submit btn1 btn">
                            Gönder
                            <i class="fa fa-envelope-o"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </fieldset>
</form>
<!-- Form End -->
@if (Request.QueryString["r"] == "1")
{
    <div id="modal">
        <div class="modalconent">
            <p class="color3 font-15 margin-b30"><b>Başvuru formunuz alınmıştır. En kısa zamanda sizinle iletişime geçilecektir. Teşekkür ederiz.</b></p>
            <button id="button" class="btn1 btn pull-right"><i class="fa fa-check margin-r5 color1"></i>Kapat</button>
        </div>
    </div>
}