﻿@{
    Layout = null;
}

<!-- Form Start -->
<form id="usualValidate" class="mainForm" method="post" action="/Home/_ContactForm" enctype="multipart/form-data">
    <fieldset>
        <section class="margin-t50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 margin-t50 margin-b10 ">
                        <h3 class="title">İletişim Formu</h3>
                    </div>
                    <div class="col-md-6">
                        <div class=" margin-b20 field_with_errors">
                            <input type="text" name="Name" class="form-control form-control2 " placeholder="Ad" required> <span></span>
                        </div>
                        <div class=" margin-b20 field_with_errors">
                            <input type="email" name="Email" class="form-control form-control2 " placeholder="E-posta" required><span></span>
                        </div>
                        <div class=" margin-b20 field_with_errors">
                            <input type="text" name="Subject" class="form-control form-control2 " placeholder="Konu" required><span></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class=" margin-b20 field_with_errors">
                            <input type="text" name="Surname" class="form-control form-control2 " placeholder="Soyad" required><span></span>
                        </div>
                        <div class="margin-b20  field_with_errors">
                            <input type="text" name="Phone" class="form-control form-control2" placeholder="Telefon" required pattern="[0-9.]+"><span></span>
                        </div>
                        <div class=" margin-b20 field_with_errors">
                            <textarea name="Message" class="form-control form-control2 " placeholder="Mesaj" required></textarea><span></span>
                        </div>
                    </div>
                    <div class="col-md-3 margin-t50 margin-b50">
                        <button type="submit" class="submit btn1 btn">
                            Gönder
                            <i class="fa fa-envelope-o"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </fieldset>
</form>
<!-- Form End -->
@if (Request.QueryString["r"] == "1")
{
    <div id="modal">
        <div class="modalconent">
            <p class="color3 font-15 margin-b30"><b>İletişim formunuz alınmıştır. En kısa zamanda sizinle iletişime geçilecektir. Teşekkür ederiz.</b></p>
            <button id="button" class="btn1 btn pull-right"><i class="fa fa-check margin-r5 color1"></i>Kapat</button>
        </div>
    </div>
}