﻿@model DAL.AdminMainProgress
@using System.Linq;
@{
    var menuData = Model.AllPages;
    var AllLanguages = Model.AllLanguages;
    var FriendlyUrl = ViewContext.RouteData.Values["friendlyUrl"];
    var viewName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}
<!-- Header Start -->
<section class="container-fluid">
    <div class="header bgcolor1 hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-2 logo col-xs-2">
                    <a href="/"><img src="/Assets/img/ist_logo.png" /></a>
                </div>
                <div class="col-md-10 col-xs-5">
                    <div class="pull-right hidden">
                        @*@foreach (var item in AllLanguages)
                            {
                                <span style="color:red;font-size:x-small;"><a href="@("/ChangeLanguage/" + item.ShortName)">@item.Name</a></span>
                            }
                            <span style="font-size:x-small;">BETA</span>*@
                    </div>
                    <span style="font-size: 8px; float:right;font-size: 8px; float: right; position: absolute; right: 42px;">BETA</span>
                    <label class="switch">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="TR" data-off="EN"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
                <div class="col-md-10">
                    <div id='cssmenu' class="pull-right">
                        <ul>
                            @foreach (var item in menuData.Where(x => x.ParentId == 0))
                            {
                                var PageName = string.IsNullOrEmpty(item.View) ? string.Empty : DAL.Enums.PageTypes[item.View.ToLower()];
                                <li class='has-sub'>
                                    <a class="current" href='@(item.OuterLink.ToString() != string.Empty ? item.OuterLink : "/" + PageName + item.FriendlyUrl)' target="@(item.OuterLink.ToString() != string.Empty ? "_blank" : string.Empty)">
                                        <span>@item.Title</span>
                                        @if (FriendlyUrl != null)
                                        {
                                            if (item.FriendlyUrl == FriendlyUrl.ToString())
                                            {
                                                <span class="current"></span>
                                            }
                                        }
                                    </a>
                                    @{
                                var haveSub = menuData.Where(x => x.ParentId == item.DataId).ToList();
                                    }
                                    @if (haveSub != null)
                                    {
                                        <ul>
                                            @foreach (var item2 in haveSub)
                                            {
                                                var PageName2 = string.IsNullOrEmpty(item2.View) ? string.Empty : DAL.Enums.PageTypes[item2.View.ToLower()];
                                                <li class='has-sub'>
                                                    <a href='@(item2.OuterLink.ToString() != string.Empty ? item2.OuterLink : "/" + PageName2 + item2.FriendlyUrl)' target="@(item2.OuterLink.ToString() != string.Empty ? "_blank" : string.Empty)"><span>@item2.Title</span></a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*mobil menu*@
    <div class="mobil-header hidden-lg hidden-md">
        <div class="row">
            <div class="col-sm-12 logo col-xs-12">
                <a href="/"><img src="/Assets/img/ist_logo.png" class="pull-left margin-t20" /></a>
            </div>
            <div class="col-xs-12 col-sm-12">
                <nav class="burger">
                    <a href="#" class="burger__button" id="burger-button">
                        <span class="burger__button__icon"></span>
                    </a>
                    <ul class="burger__menu">
                        @foreach (var item in menuData.Where(x => x.ParentId == 0))
                        {
                            var PageName = string.IsNullOrEmpty(item.View) ? string.Empty : DAL.Enums.PageTypes[item.View.ToLower()];
                            <li>
                                <a href='@(item.OuterLink.ToString() != string.Empty ? item.OuterLink : "/" + PageName + item.FriendlyUrl)' target="@(item.OuterLink.ToString() != string.Empty ? "_blank" : string.Empty)">
                                    @item.Title
                                </a>
                                @{
                            var haveSub = menuData.Where(x => x.ParentId == item.DataId).ToList();
                                }
                                @if (haveSub != null)
                                {
                                    <div>
                                        @foreach (var item2 in haveSub)
                                        {
                                            var PageName2 = string.IsNullOrEmpty(item2.View) ? string.Empty : DAL.Enums.PageTypes[item2.View.ToLower()];
                                            <a href='@(item2.OuterLink.ToString() != string.Empty ? item2.OuterLink : "/" + PageName2 + item2.FriendlyUrl)' target="@(item2.OuterLink.ToString() != string.Empty ? "_blank" : string.Empty)">@item2.Title</a>
                                        }
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="hidden-md hidden-lg">
    <div class="container">
        <div class="row  mobil-search">
            <div class="col-xs-12 col-sm-12 margin-t15">
                <form id="usualValidate" method="post" action="/WhoisQuery" enctype="multipart/form-data">
                    <div class="input-group" style="z-index:9999">
                        <span class="border-radius1 input-group-addon" id="basic-addon1">www.</span>
                        <input autocomplete="off" type="text" style="width:100%" class="form-control border-none padding-l5 border-radius2 height45" aria-describedby="basic-addon1" name="domain" placeholder="alan adı" required />
                        <div class="select">
                            <select class="border-none" id="example-getting-started2" multiple="multiple" name="type" title="Pick One" required>
                                <option value=".istanbul" selected>.istanbul</option>
                                <option value=".ist" selected>.ist</option>
                                <option value=""> </option>
                            </select>
                            <button type="submit" class="button1" aria-label="Help"><span class="fa fa-search"></span></button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@*mobil search*@
<!-- Header End -->
<!-- Banner Start -->
@if (viewName != "Index")
{
    if (FriendlyUrl != null)
    {
        var bannerData = Model.Pages;
        <div class="col-md-12 hidden-xs hidden-sm" style="height:100px;"></div>
        <img src="@(bannerData.Banner.ToString() == string.Empty ? "/Assets/img/head-img1.jpg" : System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + bannerData.Banner)" style="width:100%;z-index:0" />
        <section class="hidden-sm hidden-xs">
            <div id="sticky-anchor"></div>
            <div style="position:absolute;top: 35%;width: 100%;padding-top: 10px;padding-bottom: 10px;" id="sticky">
                <div class="col-md-5 col-lg-6 col-md-offset-3 ">
                    <form id="usualValidate" method="post" action="/WhoisQuery" enctype="multipart/form-data">
                        <div class="input-group">
                            <span class="border-radius1 input-group-addon" id="basic-addon1">www.</span>
                            <input autocomplete="off" type="text" style="width:100%" class="form-control border-none padding-l5 border-radius2 height45" aria-describedby="basic-addon1" name="domain" placeholder="alan adı" required />
                            <div class="select">
                                <select class="border-none" id="example-getting-started4" multiple="multiple" name="type" title="Pick One" required>
                                    <option value=".istanbul" selected>.istanbul</option>
                                    <option value=".ist" selected>.ist</option>
                                    <option value=""> </option>
                                </select>
                                <button type="submit" class="button1" aria-label="Help"><span class="fa fa-search"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    }
}
<!-- Banner End -->