﻿@model DAL.AdminMainProgress
@{
    Layout = null;
    var dataIstanbul = Model.AllRegistrarCompanies.Where(x => x.Istanbul == true);
    var dataIst = Model.AllRegistrarCompanies.Where(x => x.Ist == true);
}

<section class="margin-b100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="margin-t20 margin-b40">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation"><a aria-controls="tb1" data-toggle="tab" href="#tb1" role="tab">.istanbul Akredite Kayıt Operat&ouml;r&uuml;</a></li>
                        <li role="presentation"><a aria-controls="tb2" data-toggle="tab" href="#tb2" role="tab">.ist Akredite Kayıt Operat&ouml;r&uuml;</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active fade in" id="tb1" role="tabpanel">
                            @foreach (var item1 in dataIstanbul)
                            {
                                <div class="col-md-2 margin-t20">
                                    <a href="@item1.Url" target="_blank"><img class="img-responsive" src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item1.Logo)" style="width:190px" /></a>
                                    <p class="text-center margin-t25">@item1.Country</p>
                                </div>
                            }
                        </div>

                        <div class="tab-pane fade" id="tb2" role="tabpanel">
                            @foreach (var item2 in dataIst)
                            { 
                                <div class="col-md-2 margin-t20">
                                    <a href="@item2.Url" target="_blank"><img class="img-responsive" src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item2.Logo)" style="width:190px" /></a>
                                    <p class="text-center margin-t25">@item2.Country</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>